/* Estilo geral do corpo */
body {
    font-family: Arial, sans-serif;
    /* Substitua 'sua-imagem-de-fundo.jpg' pelo caminho da sua imagem de fundo */
    background: url('/static/images/ana.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

/* Título principal */
h1 {
    margin-top: 20px;
    color: #18d360;
    font-size: 52px;
    text-align: center;
}

/* Títulos de seções */
h2 {
    color: #495057;
    margin-top: 40px;
    font-size: 24px;
}

/* Barra de navegação */
.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Links da barra de navegação */
.navbar-brand {
    color: #343a40 !important;
    font-size: 18px;
}

.nav-link {
    color: #495057 !important;
    font-size: 16px;
}

/* Contêiner principal */
.container {
    margin-top: 50px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Fundo semitransparente */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo dos cartões de vídeo */
.card {
    border: none;
}

.card-img-top {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 10px;
}

/* Estilo do botão de download */
.btn {
    width: 100%;
}

/* Capa do vídeo */
.video-cover {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* Proporção 16:9 */
    /* Substitua 'sua-capa.jpg' pelo caminho da sua imagem de capa para cada vídeo */
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    cursor: pointer;
}

.video-cover .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    padding: 10px;
    color: white;
    font-size: 30px;
}
